$primary: #6267e9;

$headings-font-family: Jost,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$headings-font-weight: 700;
$font-family-base: "Merriweather","Georgia",Cambria,"Times New Roman",Times,serif;

@import '~bootstrap/scss/bootstrap';